doctype
html
	head
		title URL Shortener Microservice
	body
		h1 URL Shortener Microservice
		h3 Example Usage
		p 
			a(href="https://infinite-ravine-89202.herokuapp.com/new/http%3A%2F%2Fwww.google.com") https://infinite-ravine-89202.herokuapp.com/new/http%3A%2F%2Fwww.google.com
		h3 Example Output
		p {"original_url": "http://www.google.com","short_url": "https://infinite-ravine-89202.herokuapp.com/pITMA3k"}