doctype
html
	head
		title URL Shortener Microservice
	body
		h1 URL Shortener Microservice
		h3 Example Usage
		p 
			a(href="https://afternoon-badlands-85398.herokuapp.com/1450137600") https://afternoon-badlands-85398.herokuapp.com/1450137600
		p 
			a(href="https://afternoon-badlands-85398.herokuapp.com/December 20, 1979") https://afternoon-badlands-85398.herokuapp.com/December 20, 1979
		h3 Example Output
		p {unix : ​314496000, natural : "December 20, 1979"}